.container {
    display: flex;
    flex-direction: column;
}

.nav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    background-color: #1f2937;
    padding: 16px 0 64px 0;
   
    
}

 .nav h2{
  padding-left: 4em;
}

.item {
    display: flex;
    align-items: end;


}

.hero-main{

    color: #F9FAF8;
font-size: 48px;
margin-bottom: -15px;
}

.hero-main button{
  padding: 0.5em;
}

.hero-left {
    margin-left: 150px;
    margin-right: 50px;
    width: 50%;
  }

  .hero-right {
    margin-right: 150px;
    width: 50%;
  }

  .placeholder-img {
    background-color: rgba(128, 128, 128, 0.324);
    color: white;
    width: 400px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.section-1 {
    background-color: #1F2937;
padding: 50px 0;
display: flex;
align-items: center;

}
.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
  }
  .header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
  }

.section-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.image-container {
  display: flex;
  justify-content: space-between;
   
  padding-left: 3em;
  padding-right: 3em;
  /* align-items: center; */
}

.image-card {
  width: 150px;
  height: 200px;
  border: solid blue 2px;
  border-radius: 25px;


}

.image-card img{
  width: 150px;
  height: 200px;
  border-radius: 25px;
  object-fit: fill;
}

.card-info p {
  font-size: 15px;
  
  max-width: 150px;
  max-height: 200px;
  overflow: scroll;
}

.quote-container{
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 4em;
  /* color: #1f2937;
  
  font-family:italic;
  font-weight: light;
  font-size: 36px; */
}

.quote-item{
  display: flex;
  justify-content: center;
  
}

.quote-item p  {
  color: #1f2937;
  
  font-family:italic;
  font-weight: light;
  font-size: 36px;
}

.quote-author{
  display: flex;
  justify-content: flex-end;
  font-family: italic;
}


button {
    background-color: #3882f6;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

h1 {
   font-size: 48px;
}

.hero-main p {
    font-size: 24px;
}

.signup-container{
  display: flex;
  justify-content: center;
  
  padding: 4em;
}

.signup-content{
  background-color: #3882f6;
  color: #E5E7EB;
  padding: 3em;
  border-radius: 10px;
}

.signup-button{
  display: flex;
  justify-content: center;
  padding: 2em;
}

.signup-button button{
  padding: 2em;
  color: black;
  font-size: 18px;
  border: solid black;
  border-radius: 10px;
}

.footer-container{
  display: flex;
  justify-content: center;
  background-color:#1f2937;
  color: #E5E7EB;
}